// Variables
// ------------------------------------------------

	// Fonts
	$font-primary: 'Droid Serif', serif;
	$font-secondary: 'Open Sans Condensed', sans-serif;
	
	
	// Swatches and number of times used throughout the site.
	$swatch-ltBlue: #edf5ff; // 5
	$swatch-ltBlue2: #b1c8e8; // 2
	$swatch-ltBlue3: #f3f6fa; // 1
	$swatch-mdBlue: #25589c; // 1
	$swatch-mdBlue2: #2868be; // 4
	$swatch-dkBlue: #466ca4; // 2
	$swatch-dkBlue2: #012250; // 2
	$swatch-dkBlue3: #134a94; // 1
	$swatch-jtnnBlue: #073e88; // 16
	$swatch-jtnnOrange: #ffb61a; // 5
	$swatch-lightGrey: #cdcdcd; // 6
	$swatch-mediumGrey: #777777; // 9
	$swatch-highlightBlue: #23b1ff; // 3 
	
	
	// Swatches applied as colors
	$color-headingDark: $swatch-mdBlue2; // 2
	$color-text: $swatch-mdBlue; // 2
	$color-link: $swatch-highlightBlue; // 11
	$color-linkHover: $color-text; // 2
	$color-linkActive: lighten($color-link, 25%); // 2
	
	
// Mixins
// ------------------------------------------------	

	// For buttons and other form elements
	@mixin setContainerBackground($bgColor, $padding) {
		background: rgba($bgColor,.35);
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		border-radius: 4px;
		box-shadow: 0px 1px 0px rgba(255, 255, 255, .35), inset 0px 1px 2px rgba($bgColor,.5);	
		padding: $padding;
	}
	
	@mixin setBackgroundGradient($from: #185cae, $to: #0e387a, $fallback: $swatch-jtnnBlue) {
	    background: $to;
	    background: $fallback;
	    background: -moz-linear-gradient(top, $from 0%, $to 100%);
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
	    background: -webkit-linear-gradient(top, $from 0%,$to 100%);
	    background: -o-linear-gradient(top, $from 0%,$to 100%);
	    background: -ms-linear-gradient(top, $from 0%,$to 100%);
	    background: linear-gradient(to bottom, $from 0%,$to 100%);
	       
	}
	
	@mixin setBackgroundGradientReversed($from: #0e387a, $to: #185cae, $fallback: $swatch-jtnnBlue) {
	    background: $to;
	    background: $fallback;
	    background: -moz-linear-gradient(top, $from 0%, $to 100%);
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
	    background: -webkit-linear-gradient(top, $from 0%,$to 100%);
	    background: -o-linear-gradient(top, $from 0%,$to 100%);
	    background: -ms-linear-gradient(top, $from 0%,$to 100%);
	    background: linear-gradient(to bottom, $from 0%,$to 100%);
	}
	
	@mixin setBackgroundGradientHover($from: #2cc4ff, $to: #1a9eff, $fallback: $swatch-highlightBlue) {
	    background: $to;
	    background: $fallback;
	    background: -moz-linear-gradient(top, $from 0%, $to 100%);
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
	    background: -webkit-linear-gradient(top, $from 0%,$to 100%);
	    background: -o-linear-gradient(top, $from 0%,$to 100%);
	    background: -ms-linear-gradient(top, $from 0%,$to 100%);
	    background: linear-gradient(to bottom, $from 0%,$to 100%);
	}


// H5BP Junk
// ------------------------------------------------
	@import '_normalize.scss';
	@import '_h5bp.scss';


// Grid System
// ------------------------------------------------
	@import '_grid.scss';	
	
	
// Modules
// ------------------------------------------------	
	@import 'modules/_type.scss';
	@import 'modules/_header.scss';
	@import 'modules/_navigation.scss';
	@import 'modules/_footer.scss';
	@import 'modules/_forms.scss';
	@import 'modules/_slideshow.scss';
	@import 'modules/_sidebar.scss';
	@import 'modules/_events.scss';
	@import 'modules/_homepage.scss';
	@import 'modules/_postspages.scss';

	
// Seriously, this is bad guys. 
// But I had no other choice. So it lives here.
// ------------------------------------------------	
	@import '_shame.scss';


// Mobile
// ------------------------------------------------	
	@import '_mobile.scss';


// Print
// ------------------------------------------------	
	@import '_print.scss';

