/*	Form Elements
	----------------------------------------------- */
	
	.welcomebar label {
		font-size: .75em;
	}
	
	input,
	textarea{
		padding: 3px 5px;
		border: 2px solid transparent;
		border-radius: 4px;
		box-sizing: border-box;		
		-moz-box-sizing: border-box;
		font-family: $font-primary;
		color: $swatch-jtnnBlue;
			
		&:focus {
			outline: none;
			border: 2px solid lighten($swatch-jtnnBlue, 20%);
		}
		
		&[type=submit]{
			@include setBackgroundGradient();
			outline: none;
			border: none;
			color: #fff;
			font-weight: 700;
			font-style: italic;
			font-size: .75em;
			font-family: $font-primary;
			padding: 7px;
			position: relative;
			top: -1px;
			box-shadow: inset 0px 1px 0px rgba(#30baff,.35);
			
			&:hover {
				@include setBackgroundGradientHover();
				box-shadow: inset 0px 1px 0px rgba(#fff,.35);
			}
		}
		
		&[type=reset]{
			background-color: $swatch-disabledGrey;
			outline: none;
			border: none;
			color: #fff;
			font-weight: 700;
			font-style: italic;
			font-size: .75em;
			font-family: $font-primary;
			padding: 7px;
			position: relative;
			top: -1px;
			
			&:hover {
				background-color: lighten($swatch-disabledGrey, 5%);
			}
		}
	}
	
	/* Reposition button in FF */
	@-moz-document url-prefix() { 
	  input[type=submit]{
	     padding: 6px;
	     top: 0px;
	  }
	}
	
	/* Placeholder Styles
	   Currently unable to target older versions of Opera as the spec was never introduced.
	   Newer versions of Opera (running Webkit engine) will have styles applied */
	::-webkit-input-placeholder {
		color: $swatch-disabledGrey;
		font-size: .688em;
		font-style: italic;
		font-weight: 300;
		font-family: $font-primary;
		padding-top: 3px;
	}
	
	:-moz-placeholder { /* Firefox 18- */
		color: $swatch-disabledGrey;
		font-size: .688em;
		font-style: italic;
		font-weight: 300;
		font-family: $font-primary;
		padding-top: 3px; 
	}
	
	::-moz-placeholder {  /* Firefox 19+ */
		color: $swatch-disabledGrey;
		font-size: .688em;
		font-style: italic;
		font-weight: 300;
		font-family: $font-primary;
		padding-top: 3px;
	}
	
	:-ms-input-placeholder {
		color: $swatch-disabledGrey;
		font-size: .688em;
		font-style: italic;
		font-weight: 300;
		font-family: $font-primary;
		padding-top: 3px;
	}
	
	
	
	/* Field Wrapper */
	form.searchform,
	.field-wrap {
		background-color: $color-formFieldBG;
		border-radius: 4px;
		padding: 5px;
		box-sizing: border-box;
		
		& input[type=search] {
			width: 216px;
		}
	}
	
	/* Contact Form 7 Overrides */	
	
	div.wpcf7-response-output {
		margin: 20px 0;
		padding: 10px 15px;
		display: block;
		color: #fff;
		font-style: italic;
		border-radius:4px;
	
		&.wpcf7-mail-sent-ok {
			border: 2px solid #43863a;
			background-color: #43863a;
		}
		
		&.wpcf7-mail-sent-ng {
			border: 2px solid #ff0000;
			background-color: #ff0000;
		}
		
		&.wpcf7-spam-blocked {
			border: 2px solid #ffa500;
			background-color: #ffa500;
		}
		
		&.wpcf7-validation-errors {
			border: 2px solid #f7e700;
			background-color: #f7e700;
		}
	}
	
	.wpcf7-form {
	
		p {
			margin: 0;
			
			label:hover {
				cursor: pointer;
			}
		}
	
		.field-wrap {
			width: 300px;
			margin-bottom: 10px;
			
			&.textarea {
				width: 399px;
				
				textarea {
					outline: none;
				}
			}
		
			input:not([type=submit]) {
				width: 100%;
			}
		}
	}