	.welcomebar {
		height: 45px;
		line-height: 45px;
	}
	
	.welcomebar div.col6 {
		text-align: right;
	}
		
	.welcomebar {
		background-color: $swatch-ltBlue3;
		color: $swatch-jtnnBlue;
		overflow: hidden;
	}